<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Server" value="localhost" />
    <add key="ClientServicesPort" value="2016" />
    <add key="ServerInstance" value="LiveG01" />
    <add key="TenantId" value="" />
    <add key="ClientServicesProtectionLevel" value="EncryptAndSign" />
    <add key="UrlHistory" value="" />
    <add key="ClientServicesCompressionThreshold" value="64" />
    <add key="ClientServicesChunkSize" value="28" />
    <add key="ClientServicesKeepAliveInterval" value="120" />
    <add key="MaxNoOfXMLRecordsToSend" value="5000" />
    <add key="MaxImageSize" value="26214400" />
    <add key="ClientServicesCredentialType" value="Windows" />
    <add key="ACSUri" value="" />
    <add key="AllowNtlm" value="true" />
    <add key="ServicePrincipalNameRequired" value="True" />
    <add key="ServicesCertificateValidationEnabled" value="true" />
    <add key="DnsIdentity" value="" />
    <add key="HelpServer" value="DELL" />
    <add key="HelpServerPort" value="49000" />
    <add key="ProductName" value="" />
    <add key="UnknownSpnHint" value="" />
  </appSettings>
</configuration>
